<%- include ("./partials/header") %>

<h1 class="text-center mt-5">Idatinos</h1>


<div class="container">
    <% if (success_msg != "") { %>
        <%- include ("./partials/messages") %>
    <% } %>
</div>

<div class="container">
    <div class="row mt-5 ">
        <div class="col-lg-5 mb-4">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="telefono" placeholder="cellphone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="rubro" placeholder="Work" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Save Developer</button> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <table class="table table-bordered table-hover table-dark ">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Telefono</th>
                        <th>Rubro</th>
                        <th class="text-center">Control</th>
                    </tr>
                </thead>
                <tbody>
                    <% developers.forEach((developer) =>{ %>
                        <tr>
                            <td><%= developer.id %></td>
                            <td><%= developer.nombre %></td>
                            <td><%= developer.email %></td>
                            <td><%= developer.telefono %></td>
                            <td><%= developer.rubro %></td>
                            <td class="d-flex justify-content-around">
                                <a href="/delete/<%= developer.id %>" class="btn btn-danger mr-1">Delete</a>
                                <a href="/updateDeveloper/<%= developer.id %>" class="btn btn-warning">Update</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div> 

    </div>
</div>

<%- include ("./partials/footer") %>
    

