<%- include ("../partials/header") %>
<!-- 
<div class="container">
    <% if (success_msg) { %>
        <%- include ("../partials/messages") %>
    <% } %>
</div> -->

<div class="container">
    <div class="row pt-5">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <form action="/docentes/edit/<%= docente.idDocente %>" method="POST">
                    <div class="form-group">
                        <input type="text" name="idDocente" value="<%= docente.idDocente %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombres" value="<%= docente.nombres %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="apellidos" value="<%= docente.apellidos %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="correo" value="<%= docente.correo %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="number" name="telefono" value="<%= docente.telefono %>" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Edit Docente</button> 
                </form>
            </div>
        </div>
    </div>
</div>


<%- include ("../partials/footer") %>